langchain
langgraph
langchain-community
langchain-ollama
langchain-anthropic
langchain-openai

fastapi
uvicorn[standard]

streamlit

playwright

pydantic

python-dotenv

langsmith

ollama

requests

python-docx

pypdf

fastmcp

httpx
aiohttp
beautifulsoup4
lxml