langchain
langgraph
langchain-community
langchain-groq

fastapi
uvicorn[standard]

streamlit

playwright

pydantic

python-dotenv

langsmith

requests

python-docx

pypdf

fastmcp

httpx
beautifulsoup4
lxml